.img{
      display: none;
}


.carousel .thumb{
    display: none;
    width: 5%;
    height: 50PX;
    display: auto;
}
.carousel .slider-wrapper{
    
    width: 100%;
     
}
.thumb{
    display: none;
}

.rate{
    display: flex;
     
}
.rating{
    margin-left: 20px;
    font-size: 20px;
}

.sinpro{
    width: 360px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img1{
    width: 350px;
    height: 220px;
    border-radius: 10px;
 
    
}
 .img1  figure:hover  img{
   transition: .3s ease-in-out;
}   
.add{
 border: 0ch;
 padding-left: 20px;
 padding-right: 20px;
 background-color: black;
 font-size: 15px;
 border-radius: 10px;
 margin-left: 40px;
 color: white;
 margin-bottom: 10px;
}

.til{
    margin-left: 10px;
    font-size: 20px;
}
.des{
    margin-left: 10px;
    font-size: 20px;
    color: gray;
    overflow: hidden;
    
}
.pri{
    margin-left: 10px;
    font-size: 20px;
}

.pro{
    display: grid;
    grid-template-columns: repeat(3,350px);
    gap: 20px;
    margin-left: 230px;
    
}


.prosort{
    display: flex;
    margin-left: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    
     
}
.label{
    width: 120px;
     font-size: 20px;
     font-weight: 700;
    
    margin: 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    

}
.propp{
    margin-left: 10px;
    color: black;
 
         
}

.llabel{
    justify-content: center;
}
.sort{
    margin-left: 200px;
    font-size: 20px;
    margin-top: 20px;
}
.ss{
    
}